[run]
branch = True
source = graph_heal
omit =
    graph_heal/config/*
    graph_heal/graph_heal.py
    graph_heal/scripts/*

[report]
omit =
    */tests/*
    */__init__.py 
    graph_heal/scripts/* 